@import url('https://fonts.googleapis.com/css2?family=Cute+Font&display=swap');

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Cute Font', cursive;
    background-color: #F7C59F;
}

#logo {
    height: 40px;
    width: 40;
    padding-top: 5px;
    float:left;
    border-radius: 8px;
}

nav {
    width: 100%;
    height: 60px;
    background-color: #C05858;
}

nav:nth-child(1) {
    padding-left: 25px;
}

.navlink {
    padding: 5px;
    padding-top: 12px;
    padding-left: 20px;
    color: white;
    font-size: 1.8em;
    float: left;
}

.navlink a, .navlink a:link, .navlink a:visited, .navlink a:hover, .navlink a:active {
    color: #3b55e9;
    text-decoration: none;
    padding: 5px;
    border-radius: 4px;
    background-color: #C05858;
    transition: background-color 0.4s ease;
}

.navlink a:hover {
    transition: background-color 0.8s ease;
    background-color: #b66a6a;
}

.nftForm {
    border: 2px solid #b66a6a;
    height: 35px;
    width: 965px;
    margin-top:0px;
    padding-top:10px;
    background-color: #C05858;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.nftForm label {
    display: inline-block;
    width: 75px;
    margin-left: 10px;
    font-size: 1.5em;
    float: left;
    color: #3b55e9;
}

#balanceForm label {
    display: inline-block;
    width: 130px;
    margin-left: 10px;
    font-size: 1.5em;
    float: left;
    color: #3b55e9;
}

.nftForm input[type=text] {
    float:left;
}

.makeNFTSubmit {
    transition: background-color 0.4s ease;
    display: inline;
    width: 90px;
    background-color: #C05858;
    border-radius: 2px;
    color: white;
    text-decoration: none;
}

.makeNFTSubmit:link, .makeNFTSubmit:visited, .makeNFTSubmit:hover, .makeNFTSubmit:active {
    color: white;
}

.makeNFTSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #b66a6a;
}

.mainForm {
    height: 300px;
    width: 350px;
    margin: 0 auto;
    padding-top: 350px;
    font-size: 1.2em;
}

.mainForm h3 {
    text-align: center;
}

.mainForm label {
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: right;
    font-size: 1.2em;
}

.formSubmit {
    transition: background-color 0.4s ease;
    display: block;
    text-align: center;
    margin: 0 auto;
    margin-top: 14px;
    font-size: 1.2em;
    width: 100px;
    background-color: #C05858;
    border-radius: 2px;
    border-color: #b66a6a;
    padding: 3px 0px;
    color: white;
    text-decoration: none;
}

.formSubmit:link, .formSubmit:visited, .formSubmit:hover, .formSubmit:active {
    color: white;
}

.formSubmit:hover {
    transition: background-color 0.4s ease;
    background-color: #b66a6a;
}

#user, #pass, #pass2, #currentPass {
    text-align: center;
    font-size: 1.1em;
    width: 180px;
    border-radius: 6px;
}

#user:focus, #pass:focus, #pass2:focus, #currentPass:focus {
    outline: none;
    box-shadow: 0px 0px 1px 1px #C05858;
}

#nftMessage {
    display:none;
    top: 250px;
    width: 250px;
    height: 650px;
    position: absolute;
    z-index: 200;
    right: 0px;
    overflow: hidden;
}

#nftMessage h3 {
    width: 200px;
    position: absolute;
    top: 0px;
    left: 20px;
}

#speech {
    height: 160px;
    width: 250px;
    z-index:300;
}

#errorMessage {
    font-size: 1.2em;
    font-weight: bold;
    color: red;
    font-style: italic;
}

#nft {
    z-index: 225;
    margin-top: -20px;
    margin-left: 135px;
    height: 450px;
    width: 300px;
    -ms-transform: rotate(330deg);
    -webkit-transform: rotate(330deg); 
    transform: rotate(330deg);
}

#nfts {
    width: 80%;
    min-width: 400px;
    border: 2px solid #C05858;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 100px;
}

.nftList {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr; 
    gap: 0px 0px; 
}

.nft {
    width: 300px;
    height: 250px;
    margin: 0 auto;
    margin-top: 2px;
    margin-bottom: 2px;
    border: 2px solid #C05858;
    border-radius: 4px;
    background-color: #C05858;
    padding: 10px;
    min-height:60px;
    overflow: hidden;
    color:#12130F;
}

h1{
    color:#3b4cac;
    text-align: center;
    font-size: 2em;
    margin:0px;
    height:5px;
}

#accountInfo{
    text-align: right;
}

#accountInfo label {
    display: inline-block;
    margin-left: 10px;
    font-size: 1.5em;
    float: right;
    color: #3b55e9;
}

.flexboxContainer{
    /* display: flex; */
    flex-direction: column;
}

.nft:hover {
    transition: border-color 0.2s ease-out;
    border-color: rgba(255,255,255, 0.8);
    transition: background-color 2.6s ease-out;
    background-color: #b66a6a;
}

img.nftFace {
    margin-left: 25px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
    border-radius: 4px;
    margin-top:10px;
    float:left;
}

h3.emptyNFT {
    width: 400px;
    font-size: 1.5em;
    margin: 0 auto;
    text-align: center;
    margin-top: 18px;
}

h3.nftName {
    float:left;
    width: 200px;
    font-weight: bold;
    padding-left: 65px;
    font-size: 1.9em;
}

h3.nftValue {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

h3.nftForSale {
    float:right;
    text-align: left;
    width: 100px;
    font-weight: bold;
    padding-right: 40px;
    font-size: 1.5em;
}

.nft:first-child {
    margin-top: 10px;
}

.nft:last-child {
    margin-bottom:10px;
}